

.css-knqc4i-MuiDialogActions-root {
  display: none !important;
}

.css-1hbyad5-MuiTypography-root {
  display: none !important;
}

.css-1wy8uaa-MuiButtonBase-root-MuiPickersDay-root.Mui-selected {
  background-color: rgb(88, 136, 88) !important;
}
.css-gqp4xl-MuiPickersLayout-root .MuiPickersLayout-toolbar  {
  background-color: rgb(88, 136, 88) !important;
  color:white;
  border-radius: 10pt;

}

.css-1wsi274-MuiPickersToolbar-content {
  justify-items: center !important;
}

#Container3D {
  display: flex;
  justify-content: center;
}
#Container3D canvas {
  width: 500px !important;
  height: 300px !important;
  position: absolute;
  background-color: rgb(129, 183, 129);
  padding: 50pts;
  padding-top: 20pts;
  margin: 50pts;
  justify-content: center;
  text-align: center;
}

button {
  z-index: 1 !important;
}
#menu {
  width: 50vw;
  height: 30vw;
  background-color: rgb(129, 183, 129);
  border-radius: 10px; 
  padding: 15px; 
  text-align: center; 
}
#menu h1 {
  background-color: rgb(129, 183, 129);
  border-radius: 10px; 
  text-align: center; 
}


#menu button {
  background-color: rgb(104, 140, 119);
  text-align: center;
  padding: 0px 15px 7px 15px;
  border: 4px solid black;
  font-family: VT323;
  font-size: 30px;
}
#menu button:hover {
  background-color: rgb(85, 114, 97);
}
#menu button:active {
  box-shadow: 5px 5px #738367;
  transform: translateY(4px);
}

.event-marker {
  background-color: red; /* Customize as needed */
  display: block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
}
.event-details {
  /* Style the container for event details */
  /* Example styles */
  border: 1px solid #ccc;
  padding: 10px;
  margin-top: 10px;
  max-width: 300px;
}

#title {
  font-size: 50px;
  font-family:fantasy;
  color: white;
  background-color: rgb(65, 94, 77);
  padding: 30px;
  border-radius: 20px;
}